<p-dialog
  header="{{title}}"
  [(visible)]="display"
  [modal]="true"
  (onHide)="onHide()"
  (onShow)="onShow()"
  styleClass="dialog-demo"
  [style]="{width: '50vw'}"
>
  <div class="ui-g ui-fluid">
    <p-header>
        <div class="p-fluid">
            <div class="p-field">
                <label for="_about">About</label>
                <input id="_about" type="text" pInputText [(ngModel)]="item._about" /> 
            </div>
            <div class="p-field">
                <label for="accessURL">AccessURL</label>
                <input id="accessURL" type="text" pInputText  [(ngModel)]="item.accessURL" /> 
            </div>
            <div class="p-field">
                <label for="title">Title</label>
                <input id="title" type="text" pInputText  [(ngModel)]="item.title" /> 
            </div>
        </div>
    </p-header>
    <p-footer class="ui-g-12">
      <br />
      <button
        pButton
        type="button"
        label="Save"
        class="p-button-outlined"
        (click)="save()"
      ></button>
    </p-footer>
  </div>
</p-dialog>
